@import 'bootstrap/dist/css/bootstrap.min.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html, body {
  overflow-x: hidden;
  background-color: rgb(34, 32, 32);
}


.card-grid {
  display: grid;
  grid-template-columns: repeat(4, 150px);
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}


.card {
  width: 150px;
  height: 150px;
  perspective: 1000px;
  background: transparent;
  border: none;
}


.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  transform-origin: center;
  background: transparent;
}


.card.flipped .card-inner {
  transform: rotateY(180deg);

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  object-fit: cover;
  top: 0;
  left: 0;
  background: transparent !important;
  border: none;
  box-shadow: none;
}


.card-front::before,
.card-back::before {
  content: "";
  position: absolute;
  inset: 0;
  background: transparent;
}


.card-back {
  transform: rotateY(0deg);
  cursor: pointer;
}


.card-front {
  transform: rotateY(180deg);
}
